.header_main {
  display: flex;

  flex-direction: column;

  width: 100vw;
  height: 100vh;

  background-image: url("../assets/background_audi.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  & nav {
    background: #030303;
  }
}

.header_about {
  display: flex;

  flex-direction: column;

  width: 100vw;
  height: 100vh;

  background-image: url("../assets/about_bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  & nav {
    background: #030303;
  }
}

.products_header {
  display: flex;

  flex-direction: column;

  gap: 30px;

  & h2 {
    margin: 0;

    & span {
      color: #d6062c;
    }
  }
}

.bestsellers {
  display: flex;

  flex-direction: column;
  gap: 30px;

  & h2 {
    text-align: left;
  }
}

.best_cars {
  display: flex;

  flex-direction: row;
  justify-content: space-between;

  gap: 30px;

  width: 100%;
}

.filtration {
  display: flex;

  width: 100%;

  & select {
    appearance: none;
    outline: none;
    border: none;
    border-bottom: 2px solid white;

    background: transparent;

    font-size: 1.2em;

    &::after {
      content: url("../assets/+.svg");
      fill: white;
      background: white;
    }

    & option {
      background: black;
    }
  }
}

.search_field {
  display: flex;

  align-items: center;
  justify-content: space-around;

  padding: 0 5px;

  height: 5vh;
  width: 20vw;

  background: white;

  border-radius: 15px;

  & input {
    width: 17vw;
    height: 4vh;

    outline: none;
    border: none;

    background: transparent;

    color: #030303;
  }

  & img {
    cursor: pointer;

    z-index: 1;
  }
}

.header_content {
  display: flex;

  flex-direction: column;
  justify-content: center;

  padding: 0 4vw;
  margin-top: 30vh;

  height: 40vh;
  width: 20vw;

  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);

  & h2,
  p {
    color: black;
  }

  & p {
    font-weight: 600;
  }
}

.best_car {
  transition: 0.3s;

  display: flex;

  flex-direction: column;

  gap: 5px;

  cursor: pointer;

  & img {
    width: 100%;
  }

  &:is(:hover, :focus) {
    transition: 0.3s;

    transform: translateY(-10px);
  }
}

nav {
  display: flex;

  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 10vh;

  background: transparent;

  & .container {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

p,
h1,
a {
  transition: 0.3s ease-in-out;
  color: white;

  text-decoration: none;

  cursor: pointer;
}

a:is(:hover, :focus) {
  transition: 0.3s ease-in-out;

  scale: 1.1;
}

.nav_interface {
  display: flex;

  flex-direction: row;
  align-items: center;

  gap: 20px;

  & svg {
    transition: 0.3s;

    width: 5vh;
    height: 5vh;

    cursor: pointer;

    &:hover {
      transition: 0.3s;

      scale: 1.1;
    }
  }
}

.buttons {
  display: flex;

  justify-content: space-between;

  margin-top: 45vh;

  & a {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 8vw;
    height: 4vh;

    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);

    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(2px);
  }
}

.main_content {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.introducion {
  transition: 0.3s;

  display: flex;

  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 30vh;

  width: 30vw;
  height: 7vh;

  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);

  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);

  cursor: pointer;

  &:hover {
    transition: 0.3s;

    scale: 1.1;
  }

  & p {
    color: black;
    font-weight: 700;
    font-size: 1.3em;

    cursor: pointer;
  }
}

.logo {
  display: flex;

  flex-direction: row;

  gap: 15px;

  cursor: pointer;
}
